<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ model.displayTitle }}</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="/static/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="static/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
</head>

<body>
    {% block content %}
    <!-- ここに個別のhtmlが入る -->
    {% endblock %}
</body>

</html>