{% extends "layout.html" %}
{% block content %}

<div class="logoin_aria">
    <h3>Hello</h3>
    こんにちは。{{ model.name }}さん。
    <table class="table table-bordered">
        <tr>
            <td class="align-baseline">ID</td>
            <td><input type="text" id="id" class="form-control" maxlength="20"></td>
        </tr>
        <tr>
            <td>パスワード</td>
            <td><input type="password" id="password" class="form-control" maxlength="20"></td>
        </tr>
    </table>
    <input type="button" class="btn btn-light" value="ログイン" onclick="login()">
    <input type="button" class="btn btn-light" value="画面遷移" onclick="alert('a')">
</div>

<script src="/static/js/login/login.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="static/css/login/login.css">
{% endblock %}